<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>过滤器</title>
    <script src="/web/lib/angular-1.3.3/angular.min.js"></script>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('Aaa',['$scope',function($scope){
            //货币
            $scope.money = 23454645645;
            //过滤器
            $scope.friends = [
                {name:'张三',phone:'15823034532'},
                {name:'李四',phone:'12323034532'},
                {name:'王二',phone:'13423034532'},
                {name:'麻子',phone:'14523034532'},
                {name:'郑王',phone:'16523034532'},
            ];
        }])
    </script>
</head>
<body>
<div ng-controller="Aaa">
<h4>货币过滤器</h4>
<p>{{money | currency:'￥'}}</p>
<h4>过滤器</h4>
    <p>搜索：<input type="text" ng-model="searchText"/></p>
    <ul>
        <li ng-repeat="firend in friends | filter:searchText">
            <span>姓名：{{firend.name}}</span>
            <span>电话：{{firend.phone}}</span>
        </li>
    </ul>
</div>
</body>
</html>