{include file="../Public/header.html"}
<div class="container">
    <div class="row" style="padding:20px 0;">
        <p>
            <span>用户名：Ghost</span>
            <span>时间：2015-06-24 12:34:32</span>
            <span>所在地：北京</span>
        </p>
        <p class="lead">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="row" style="padding:20px 0;">
        <p>
            <span>用户名：Ghost</span>
            <span>时间：2015-06-24 12:34:32</span>
            <span>所在地：北京</span>
        </p>
        <p class="lead">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="row" style="padding:20px 0;">
        <p>
            <span>用户名：Ghost</span>
            <span>时间：2015-06-24 12:34:32</span>
            <span>所在地：北京</span>
        </p>
        <p class="lead">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="row" style="padding:20px 0;">
        <p>
            <span>用户名：Ghost</span>
            <span>时间：2015-06-24 12:34:32</span>
            <span>所在地：北京</span>
        </p>
        <p class="lead">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="row" style="padding:20px 0;">
        <p>
            <span>用户名：Ghost</span>
            <span>时间：2015-06-24 12:34:32</span>
            <span>所在地：北京</span>
        </p>
        <p class="lead">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <p><button type="submit" class="btn btn-success">吐槽</button></p>
        </form>
    </div>
</div>
{include file="../Public/footer.html"}