<ul class="thumbnails" ng-if="type=='guowai'">
    <li class="span3" ng-repeat="item in book">
        <a href="#">
            <img src="{{item.src}}" alt=""/>
        </a>
    </li>
</ul>

<ul class="thumbnails" ng-if="type=='guwen'">
    <li class="span3" ng-repeat="item in book">
        <a href="#">
            <img src="{{item.src}}" alt=""/>
        </a>
    </li>
</ul>

<ul class="thumbnails" ng-if="type=='xiandai'">
    <li class="span3" ng-repeat="item in book">
        <a href="#">
            <img src="{{item.src}}" alt=""/>
        </a>
    </li>
</ul>

<ul class="thumbnails" ng-if="type=='wangyou'">
    <li class="span3" ng-repeat="item in book">
        <a href="#">
            <img src="{{item.src}}" alt=""/>
        </a>
    </li>
</ul>

<ul class="thumbnails" ng-if="type=='xuanyi'">
    <li class="span3" ng-repeat="item in book">
        <a href="#">
            <img src="{{item.src}}" alt=""/>
        </a>
    </li>
</ul>

<ul class="thumbnails" ng-if="type=='love'">
    <li class="span3" ng-repeat="item in book">
        <a href="#">
            <img src="{{item.src}}" alt=""/>
        </a>
    </li>
</ul>