<div ng-if="type=='bmsg'">
    <p>北冥神功是金庸先生小说《天龙八部》中逍遥派的顶级武功之一，与天山六阳掌、天山折梅手和小无相功齐名。</p>
    <p>
        展将开来，第一行写着“北冥神功”。字迹娟秀而有力，便与绸包外所书的笔致相同。其后写道：“《庄子》‘逍遥游’有云：‘穷发之北有冥海者，天池也。有鱼焉，其广数千里，未有知其修也。’又云：‘且夫水之积也不厚，则其负大舟也无力。覆杯水于坳堂之上，则芥为之舟；置杯焉则胶，水浅而舟大也。’是故本派武功，以积蓄内力为第一要义。内力既厚，天下武功无不为我所用，犹之北冥，大舟小舟无不载，大鱼小鱼无不容。
    </p>
    <p><a class="btn btn-success" ui-sref="wxmz.bmsg.showDetail">查看详情</a></p>
    <div ui-view></div>
</div>
<div ng-if="type=='lbwb'">
    <p>
        凌波微步是金庸的武侠小说作品《天龙八部》中的武功，是逍遥派的独门轻功步法，以易经八八六十四卦为基础，使用者按特定顺序踏着卦象方位行进，从第一步到最后一步正好行走一个大圈。此步法精妙异常，习者可以用来躲避众多敌人的进攻，此外凌波微步每踏出一步，都与内力息息相关，决非单是迈步行走而已，若无内功根基之人，将凌波微步强行走将起来，会造成自绝经脉的危境。
    </p>
</div>

<div ng-if="type=='lmsj'">
    <p>「六脉神剑」出自金庸的武侠小说《天龙八部》，乃大理段氏的最高武学，由大理开国皇帝段思平所创。</p>
    <p>所谓六脉神剑，是指含于指尖的内力隔空激发出去，使其以极高速在空中运动（区别于隔空点穴）的一门技术。</p>
    <p>其做架简单，功效卓著，感应强烈，均为首屈一指。久习可得奇效，达到指剑的境界，即指力所能及的地方，有如有一柄无形的剑。无论是横扫或虚指，均可伤敌。在此载出其功中之初级部伤，非内功，但其运用人体自然采收气能力，可迅速开发人体潜能。治病疗疾，增长人体内力及耐力，亦为内功打下深厚基础。</p>
</div>

<div ng-if="type=='yyz'">
    <p>
        一阳指，一种武功的招式，在很多的武侠小说中提到，至于真实与否倒是无从考究。金庸武侠小说中大理段氏的武功传世绝学，亦是“南帝”一灯大师的专擅指法，是西毒欧阳锋蛤蟆功的克星。运功后以右手食指点穴，出指可缓可快，缓时潇洒飘逸，快则疾如闪电，但着指之处，分毫不差。当与敌挣搏凶险之际，用此指法既可贴近径点敌人穴道，也可从远处欺近身去，一中即离，一攻而退，实为克敌保身的无上妙术。但使用一阳指极耗精神，是以连续使用小则功力全失，大则性命不保。
    </p>
    <p>
        一阳指总共分九品，最高乃一品境界。四品境界的一阳指乃是学习“六脉神剑”的基础功夫，一阳指也是大理段氏一脉中最高武学“六脉神剑”的入门功夫。所谓六脉神剑是指将含于指尖的内力隔空激发出去，形成无形有质的剑气，使其以极高速在空中运动（区别于隔空点穴）的一门技术，因威力巨大过于霸道即使是大理段氏子孙也要出家后才能研习，不过祖训中并未禁止大理段氏俗家子弟观看剑谱后无师自通。
    </p>
    <p>
        大理段氏以一阳指神功驰名天下。奉六脉宝经，立天龙佛院；凭借数百载基业威名，与嵩山少林、终南全真分庭抗礼；乃宋代中华武术三大派系之一。历经朝代变迁，段氏逐渐衰败。武学也渐成单传之势，但其优良传统得以流传至元代；几百年间，高手辈出；一阳指气功作为其武学根本，可谓功不可没。
    </p>
</div>

<div ng-if="type=='xlsbz'">
    <p>降龙十八掌是金庸小说创作的武功，招式名称取自《周易》</p>
    <p>在绝大部小说中，降龙十八掌都是位列第一的绝世神功。号称天下第一阳刚神功（少林寺藏经阁的扫地僧曾言：降龙十八掌不愧为天下第一神功）</p>
    <p>原名为"降龙廿八掌"。由于丐帮帮主萧峰与其义弟虚竹将降龙廿八掌与擒龙功两种绝世武学合二为一，使得神功威力达致巅峰，故而萧峰将融合后的神功定名为"降龙十八掌"。</p>
    <p>乃是丐帮的镇帮神功，与丐帮另一项绝技打狗棒法齐名，数百年来从无一个丐帮帮主不会这两项神功的。而其中打狗棒法必定只传与丐帮帮主，降龙十八掌偶然会传与并非出任帮主之人。</p>
    <p>相传萧峰、洪七公、郭靖都是以精通降龙十八掌而闻名江湖。萧峰以降龙十八掌威震武林，少林寺一役技冠群雄。洪七公以降龙十八掌夺得"北丐"之称。郭靖以降龙十八掌力抗蒙古大军，死守襄阳数十年之久。</p>
    <p>奈何襄阳城破后，降龙十八掌最厉害的后六掌失传，只剩前十二掌，并且也分散流落江湖。</p>
    <p>元朝末年丐帮帮主史火龙只学得前十二掌，《倚天屠龙记》初版张无忌也从谢逊学得降龙十八掌前十二掌中的其中三掌。</p>
    <p>由于襄阳沦陷时，郭靖和黄蓉把降龙十八掌的武功秘笈藏在倚天剑内，使得完整的降龙十八掌法最后落在张无忌手上。</p>
</div>

<div ng-if="type=='tslyz'">
    <p>天山六阳掌是《天龙八部》逍遥派武功。</p>
    <p>
        天山六阳掌共分多少招式并不清楚，但天山童姥只教了虚竹九种手法所以至少有九招，而从原文“石壁上天山六阳掌之后的武功招数，虚竹就没学过。”来看显得远不止九招那么少。此掌法中的“六”字其实代表易经中的阴数，故此其也可称为“天山阴阳掌”。此掌法威力极大，与白虹掌力俱是逍遥派最高深的掌法，而且出掌之时左右双掌可各运阴阳不同的内劲，且与“生死符”相生克，可用此功化解体内的“生死符”。
    </p>
    <p>在天山童姥被虚竹救往西夏皇宫冰库藏匿期间，当天山折梅手传授给虚竹后，为对付李秋水便打算一并把天山六阳掌教给他，不料虚竹不肯助其杀人，坚不肯学，甚至起意离开。</p>
    <p>为此，天山童姥用谋在虚竹身上种落生死符，再假称教他破解之道，把生死符克星天山六阳掌的功夫倾囊相授[2]。因而在李秋水追入冰库要杀天山童姥时，虚竹无意间就使出了第二招「阳春白雪」、第七招「阳关三叠」以及「阳歌天钧」三招接下李秋水的攻击。</p>
    <p>在天山童姥死后，虚竹继承灵鹫宫，因可怜三十六洞、七十二岛众人身受生死符苦楚，遂使用天山六阳掌帮他们拔除生死符，赢得众人真心相随，后来也凭借天山六阳掌力斗丁春秋，用生死符逼他就范受擒。</p>
</div>
