<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="/myWeb/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
</head>
<body>
<header class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
    <nav class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/myWeb/index.php/home/index/index">喵星人</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/myWeb/index.php/home/index/index">首页</a></li>
            <li><a href="/myWeb/index.php/home/watch/w_list">围观</a></li>
            <li><a href="/myWeb/index.php/home/scrawl/s_list">涂鸦</a></li>
        </ul>
        <p class="navbar-text navbar-right">
            <a href="/myWeb/index.php/home/index/login" style="color:#fff;text-decoration: none;">登陆</a> |
            <a href="/myWeb/index.php/home/index/register" style="color:#fff;text-decoration: none;">注册</a>
        </p>
    </nav>
</header>