<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="{$smarty.const.APP_LIB}/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
</head>
<body>
<header class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
    <nav class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{$smarty.const.APP_URL}/index/index">喵星人</a>
        </div>
        <ul class="nav navbar-nav">
            <li class={$index}><a href="{$smarty.const.APP_URL}/index/index">首页</a></li>
            <li class={$watch}><a href="{$smarty.const.APP_URL}/watch/w_list">围观</a></li>
            <li class={$scrawl}><a href="{$smarty.const.APP_URL}/scrawl/s_list">涂鸦</a></li>
        </ul>
        <p class="navbar-text navbar-right">
            <a href="{$smarty.const.APP_URL}/index/login" style="color:#fff;text-decoration: none;">登陆</a> |
            <a href="{$smarty.const.APP_URL}/index/register" style="color:#fff;text-decoration: none;">注册</a>
        </p>
    </nav>
</header>